h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
    line-height: 1.5;
}

#formContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    display: block; /* Changed from display: none to display: block for visibility */
}

#exportReport {
    width: 300px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column; /* Ensures elements are stacked vertically */
    gap: 15px; /* Adds space between each field */
}


#exportReport h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

#exportReport h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
}

#exportReport label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

#exportReport input[type="text"] {
    width: 80%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #040404;
    border-radius: 4px;
    font-size: 14px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
}

.button-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.small-button {
    background-color: #ccc; 
    color: #000; 
    border: 1px solid #999; 
    border-radius: 5px;
    padding: 5px 10px; 
    font-size: 0.9rem; 
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.small-button:hover {
    background-color: #bbb; 
    color: #000;
}

button {
    padding: 10px 20px;
    background-color: #BF996B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #d6a971;
}

#dateTo{
    width: auto;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #040404;
    border-radius: 4px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

#dateFrom{
    width: auto;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #040404;
    border-radius: 4px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

#TypeOfReport{
    width: 300px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #040404;
    border-radius: 4px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.table-scroll {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: auto;
    border: 1px solid #000000;
    width: 100%;
}

.table-scroll::-webkit-scrollbar {
    width: 10px; 
    height: 16px; 
}

.table-scroll::-webkit-scrollbar-thumb {
    background-color: #454442; 
    border-radius: 4px; 
}

.table-scroll::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #BF996B; 
    position: sticky;
    padding: 10px;
    
}

th, td {
    border: 1px solid #000000;
    background-color: beige;
    padding: 10px; 
    text-align: left; 
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    width: 100%; 
    margin-inline: auto;
}

.table-container {
    display: flex;
    flex-direction: column;
    align-items: stretch; 
    position: relative; 
}

.date-picker-container {
    position: relative;
    display: flex;
    align-items: center;
}

.date-picker-container input {
    width: 100%;
    padding-right: 2.5rem; 
    box-sizing: border-box;
    font-size: 1rem;
    height: 2.5rem; 
    border: 1px solid #ccc;
    border-radius: 5px;
}

.date-picker-container .calendar-icon {
    position: absolute;
    right: 60px;
    font-size: 1.2rem;
    cursor: pointer;
    color: #666;
    height: 100%; 
    display: flex;
    align-items: center;
}




