<!-- can create all homepages into one once we figure out authetication  -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <link rel="stylesheet" href="css\main.css" />
  </head>
  <body>
    <!--header-->
    <header>
      <img src="images/AmlLogo.jpg" alt="AmlLogo" id="Logo" />
      <div class="topnav">
        <a href="resources.html">Resources</a>
        <a href="">Our Libraries</a>
        <a href="">About us</a>
        <a href="">Contact us</a>
        <a href="">Sign in</a>
      </div>
    </header>
    <!--search bar-->

    <!--library events, slider-->
  </body>
</html>
