/*can do body separetly to not connect to another css file*/
body {
  background-image: url("/images/libraryBackground.jpg");
  font-family: Arial, Helvetica, sans-serif;
}

body,
html {
  /*height: 100%; */
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formBox {
  /*padding: 50%;*/
  margin-top: 20%; /*50px*/
  margin-bottom: 20%; /*the margin stuff spaces*/
  padding-left: 30%; /*25%*/
  padding-right: 30%; /*25*/
  padding-bottom: 50px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  /*width: 100%;*/
}

.formBox h1 {
  padding-top: 50px;
}

.formsInputs label,
button {
  display: block;
  padding-bottom: 10px;
  padding-top: 10px;
}

.formsInputs input {
  width: 300px; /*100% this and line 27 (width 100% makes the button in center)*/
  height: 18px;
  padding-bottom: 10px;
  background-color: #d3d3d3;
  /*this is to center inside of an input https://stackoverflow.com/a/945812*/
  padding: 11px 0px 11px 10px;
}

.formsInputs button {
  width: 300px;
  margin-top: 20px;
  font-size: 16px;
  background-color: #e8d5ac;
  cursor: pointer;
}

.formBox button:hover {
  background-color: #bf996b;
}

.formsInputs button,
input {
  border-radius: 10px;
  border: none;
}

/*paragraphs, the links are coloured by span inside the html (easier visualisation)*/
.formsInputs p {
  padding-top: 10px;
  text-align: center;
  font-size: 12px;
}

/*this stuff is just for dob and gender*/
.flex-container {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.flex-container input {
  width: 138px;
}

/*making the toggle inline with password*/
.input-wrapper {
  display: flex;
  align-items: center;
}

@media (max-width: 480px) {
  .formBox {
    padding-left: 10px;
    padding-right: 10px;
  }

  .formsInputs input {
    width: 90%;
    padding-right: 10px;
  }
  /*to make the gender one inline??*/
  .flex-container input {
    width: 130px;
  }

  .formsInputs button {
    width: 100%;
  }
}
