/*display media*/

/* books */
body {
    font-family: Arial, Helvetica, sans-serif;
}

.genre-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.book-container {
}

.book-list {
    display: flex;
    gap: 10px;
    list-style-type: none; /* Removes default list styling */
    padding: 0; /* Removes default padding */
    margin: 0; /* Removes default margin */
}

.scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.25);
    border: none;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 1;
}
.scroll-button.left {
    left: 0;
}
.scroll-button.right {
    right: 0;
}

.book-wrapper {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    border: 1px solid black;
    /* padding: 10px; */
    /* height: 200px; Set a fixed height to align items */ 
}

.book-item {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ensures the button stays at the bottom */
    padding: 10px;
    width: 150px;
    height: 200px; /* Set a fixed height to align items */
    margin-bottom: 30px ; /* Only vertical margin to keep horizontal alignment tight */
    box-sizing: border-box;
}



.book-title {
    margin: 0;
    font-size: 16px;
    text-align: center;
}

.button-container {
    margin-top: auto;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.fa-regular fa-heart {
    font-size: 6em;
}

.view-details-button {
    margin-top: auto; /* Pushes the button to the bottom of the book item */
    padding: 5px 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0.25);
    color: black;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
}

.view-details-button:hover {
    background-color: #acc3e8;
}

.button-container i:hover{

}

.genre-title {
    padding: 20px;
}
.genre-section {
    position: relative;
    margin-bottom: 10px;
    margin-left: 10px;
    align-items: center;
    overflow-x: auto;
    scrollbar-width: 1px;
    scroll-behavior: smooth;
    white-space: nowrap;
    padding: 10px 40px;
}

.genre-section li {
    margin: 10px 40px 40px 40px;
    padding: 10px;
    /* background-color: #f4f4f4; */
    cursor: pointer;
    margin-bottom: 40px;
    width: fit-content;
}


.genre-section ul li {
    max-width: 120px;
    height: 180px;
    place-content: center;
    background-color: #E8D5AC;
}

.genre-section ul{
    width: fit-content;
}



/*view details*/

/*wishlist*/

/*borrow*/

/*special buttons(multiple)*/
