body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 50px; /*just so it doesnt touch the sides, will need to change when for mobile*/
}

/*details top*/
.details-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

h1 {
  font-size: 3em;
  margin: 0;
  /*makes it go to next line */
  max-width: 440px;
  line-height: 1.2;
  word-wrap: break-word;
}

h3 {
  font-size: medium;
  margin: 0;
  margin-right: 25px;
}

.end-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

/*.details-head button {
  /*change sizes later*/
/*width: 120px; /*100px*/
/*height: 35px;
  color: white;
  font-size: 18px;
  border-radius: 30px;
  background-color: #002a60;
  cursor: pointer;
  border: none;
}

.details-head button:hover {
  background-color: #bf996b;
}*/

.button-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: flex-start; /*??*/
  width: 100%;
}

.button-group input {
  width: 100%;
  padding: 8px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button-row {
  display: flex;
  /*flex-direction: row; /*may not need this and*/
  width: 100%;
  gap: 10px; /* Space between the buttons */
}

#search-button {
  width: 100%;
  height: 40px;
}

.button-group button {
  width: 48%; /*100px*/
  height: 45px; /*35px*/
  color: white;
  font-size: 18px;
  border-radius: 30px;
  background-color: #002a60;
  cursor: pointer;
  border: none;
}

.suggestions-box {
  display: none;
  position: absolute;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  background-color: white;
  width: 100%;
  z-index: 10;
}

.suggestions-box div {
  padding: 10px;
  cursor: pointer;
}

.suggestions-box div:hover {
  background-color: #f0f0f0;
}

/*content*/
.main-content {
  /*display: flex;
  align-items: flex-start; /* Align items at the top */
  /*gap: 20px;
  width: 100%;*/
  display: flex;
  gap: 20px; /* Reduced gap */
  align-items: flex-start;
  width: 100%;
  max-width: 1200px; /* Limit main content width */
  margin: 10px; /*0 auto*/
}

/*since we dont have images yet might as well just have a placeholder untill we connect to backend*/
.content-container {
  /*padding-top: 20px;*/
  /*display: flex;
  /*justify-content: start; */
  /*align-items: flex-start;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  gap: 20px;*/
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Allow content-container to grow as needed */
  gap: 20px;
  padding: 0;
}

.content-container p {
  max-width: 80%; /*100% 500px;*/
  line-height: 1.2;
  word-wrap: break-word;
  margin: 0;
}

.placeholder-img {
  width: 55%; /*60% 768px*/ /*440px*/
  aspect-ratio: 3 / 4; /*height: 1024px;*/ /*1024px;*/ /*620px*/
  background-color: lightblue;
}

#description {
  max-height: 300px; /*will need to put media@ to make it different when it gets longer, but can do it later*/
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5em;
}

#read-more {
  background-color: #002a60;
  color: white;
  width: 100px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 1em;
}

#read-more:hover {
  background-color: #004488;
}

.button-group button:hover {
  background-color: #bf996b;
}

/*the form*/
#popupDialog {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-width: 400px;
  width: 100%;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 999;
}

/*the drop down options section*/
#pickup-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
}

#branch-select {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

#branch-select:focus {
  border-color: #007bff;
  outline: none;
}

#popupDialog h2 {
  font-size: 1.5em;
  margin-bottom: 30px;
  color: #333;
  text-align: center;
}

/*the stuff cooking in js showing avaliabilty*/
/*may need a scroll thingy if theres too many branches but will see*/
.library-box {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.library-box h4 {
  margin: 0;
  font-size: 1.2em;
}

.library-box p {
  margin: 5px 0 0;
}

#popupDialog .close-button-container {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

/*avaliablity*/
.low-stock {
  color: red;
}

.medium-stock {
  color: orange;
}

.high-stock {
  color: green;
}

/* form for borrow */
#popupDialogBorrow {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-width: 400px;
  width: 100%;
}

#overlayBorrow {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 999;
}

/*a form to pickup or deliever*/
/*
@media (max-width: 860px) {
  .content-container {
    flex-direction: column;
  }
} */
